@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 500px) {
  .layout {
    --topnav-height: 60px;
  }
  .sidebar {
    z-index: 10000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }
  .sidebar__hamburger {
    display: block !important;
  }

  .topnav {
    left: 0 !important;
    width: 100vw !important;
  }
  .topnav__hamburger {
    display: block !important;
  }
  .topnav__right-user__name {
    display: none;
  }

  .layout__content {
    padding-left: 0 !important;
  }
  .theme-menu {
    width: 150px !important;
  }
}
